<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringModelInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--启动mvc注解-->
    <mvc:annotation-driven />
    <!-- 扫描含有注解的包,只扫描@Controller和@ControllerAdvice -->
    <context:component-scan base-package="org.zguochun.**.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
    </context:component-scan>
    <!-- 排除静态资源"default"来源于conf>web.xml文件 -->
    <mvc:default-servlet-handler default-servlet-name="default"/>
    <!-- 排除静态资源 -->
    <mvc:default-servlet-handler/>
    <mvc:resources location="/WEB-INF/jsp/admin/css/" mapping="/css/**" />
    <mvc:resources location="/WEB-INF/jsp/admin/images/" mapping="/images/**" />
    <mvc:resources location="/WEB-INF/jsp/admin/js/" mapping="/js/**" />
    <mvc:resources location="/WEB-INF/jsp/admin/html/" mapping="/html/**" />
    <!-- 排除上传文件位置 -->
    <mvc:resources location="/upload/" mapping="/upload/**" />
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--配置上传文件数据解析器  -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="20971520"/>
        <property name="maxInMemorySize" value="2048"/>
        <property name="resolveLazily" value="true"/>
        <property name="uploadTempDir" value="temp"/>
    </bean>
</beans>